{% extends 'base.html.twig' %}

{% block title %}
  Category
{% endblock %}

{% block body %}
  <section class="imageContainers category">
    <div class="category_container">
      {% for category in categories %}
        {% set picture = category.pictures %}

        {# {{ dump(picture) }} #}

        <a href="{{
          path(
            'category_pics',
            {
              slug: category.slug
            }
          )
          }}"
          class="category_image">
          <div class="category_card">
            {% for pic in picture|slice(0, 1) %}
              <img src="data:image/png;base64,{{ pic.file }}"
                alt=""
                class="img-fluid grid-item category_img" />
            {% endfor %}
            <h3 class="category_title">
              {{ category.name }}
            </h3>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
