{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
  <div class="container">
    <header class="section-header">
      <h1>
        Admin
      </h1>
    </header>
  </div>
{% endblock %}
