{% extends 'base.html.twig' %}

{% block title %}
  Edit Pictures
{% endblock %}

{% block body %}
  <div class="form_container">
    {{
      include(
        'pictures_crud/_form.html.twig',
        {
          button_label: 'Update'
        }
      )
    }}
    {{ include('pictures_crud/_delete_form.html.twig') }}
  </div>
{% endblock %}
