{% extends 'base.html.twig' %}

{% block title %}
  New Pictures
{% endblock %}

{% block body %}
  <div class="form_container">
    <h1>
      Create new Pictures
    </h1>

    {{ include('pictures_crud/_form.html.twig') }}
  </div>
{% endblock %}
